# Настройки базы данных
DB_NAME=wordpress
DB_USER=wordpress
DB_PASSWORD=wordpress_db_2026
DB_ROOT_PASSWORD=mysql_root_2026

# Настройки WordPress
WP_URL=http://localhost:8080
WP_TITLE="КМС Медицина"
WP_ADMIN_USER=admin
WP_ADMIN_PASSWORD=myNael217217217217Mar
WP_ADMIN_EMAIL=mardanov.nael@yandex.ru